body {
  background-color: #dff9fb;
}

@keyframes slider {
  0% {left:0px; top:0px;}
  21.05% {left:168.4px; top:0px;}
  57.84% {left:462.72px;  top:0px}
  100% {left:800px; top:0px;}
}

@keyframes scale {
  0% {background: #c7ecee;}
  21.05% {background: #7ed6df;;}
  57.84% {background: #22a6b3;}
  100% {background: #9980FA;}
}

.timer__animation {
  width: 800px;
  margin: auto;
  position: relative;
}

.timer__animation__slider {
  width: 5px;
  height: 20px;
  position: relative;
  margin-bottom: 4px;
  background-color: #95afc0;
  border-radius: 2px;
  animation-name: slider;
  animation-duration: 19s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.timer__animation__scale {
  width: 800px;
  height: 45px;
  background-color: #c7ecee;
  border: 4px solid #fff;
  border-radius: 15px;
  animation-name: scale;
  animation-duration: 19s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.timer__animation__holdmarker {
  position: absolute;
  height: 50px;
  width: 5px;
  top: 28px;
  left: 168.4px;
  background-color: #fff;
}

.timer__animation__exhalemarker {
  position: absolute;
  height: 50px;
  width: 5px;
  top: 28px;
  left: 463.12px;
  background-color: #fff;
}

.timer__text {
  display: grid;
  width: 800px;
  margin: auto;
  grid-template-columns: 168.4px 294.32px 337.28px;
  font-family: 'EB Garamond', serif;
  color: #576574;
  font-size: 20px;
}

.title{
  font-family: 'Courgette', cursive;
  text-align: center;
  color: #22a6b3;
}

.directions {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  color: #576574;
}

