@media screen and (max-width: 600px) {
  .title{
    font-size: 20px;
  }

  .directions__container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 305px;
  }

  .directions {
    font-size: 15px;
    width: 300px;
  }
  
  @keyframes slider {
    0% {right:20px; top:0px;}
    21.05% {right:20px; top:63.15px;}
    57.84% {right:20px;  top:173.52px}
    100% {right:20px; top:285px;}
  }

  .timer {
    display: grid;
    grid-template-columns: auto 50px;
    grid-column-gap: 2px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

/*timer animation  div*/
  .timer__animation {
    width: 55px;
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .timer__leaf {
    height: 40px;
    margin-bottom: 0px;
    grid-area: 1 / 1 / 1 / 2;
    transform: rotate(90deg);
  }

  .timer__animation__holdmarker {
    position: absolute;
    height: 5px;
    width: 35px;
    top: 63.15px;
    left: 0px;
    grid-area: 1 / 2 / 1 / 3;
  }

  .timer__animation__exhalemarker {
    height: 5px;
    width: 35px;
    top: 173.52px;
    left: 0px;
    grid-area: 1 / 2 / 1 / 3;
  }

  .timer__animation__scale {
    width: 30px;
    height: 300px;
    margin-top: 0px;
    grid-area: 1 / 2 / 1 / 3;
  }
  /* timer animation text */
  .timer__text {
    width: 25px;
    height: 300px;
    grid-template-columns: 0;
    grid-template-rows: 63.15px 110.37px 189.63px;
    font-size: 15px;
    margin-top: 0px;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }
}